* {
    font-family: 'Varela Round', sans-serif;
    background-color: #EDDCD2;
}
#main {
    text-align: center;
}

#image{
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;

}
#list {
    width: 600px;
    text-align: start;
    margin: auto;
}
#list li{
    padding-top: 1rem;
}

.text {
    width: 600px;
    margin: auto;
}